<template>
  <div>
    <input
      type="number"
      :value="value"
      v-on:input="inputUpdate"
      v-on:keydown="validate"
      :style="{width: input_width+'px'}"
      :disabled="disable"
    >
    <div
      class="copyInput"
      ref="copyInput"
    >
      {{ value }}
    </div>
  </div>

</template>

<script>
export default {
  name: 'CustomInput',
  props: ['value', 'input_width', 'disable'],
  data() {
    return {
      text_width: 40,
    };
  },
  watch: {
    value() {
      this.$nextTick(() => {
        this.inputChange();
      });
    },
  },
  methods: {
    inputUpdate(e) {
      if (e.target.value !== '') {
        this.$emit('input', e.target.value);
      } else {
        this.$emit('input', 0);
      }
      this.inputChange();
    },
    inputChange() {
      if (this.$refs.copyInput.clientWidth > 8) {
        this.text_width = this.$refs.copyInput.clientWidth;
      } else {
        this.text_width = 40;
      }
      this.$emit('text_width_change', this.text_width);
    },
    validate(e) {
      if (
        (e.target.value.length > 10)
        && (e.keyCode !== 8)
        && (e.keyCode !== 46)
        && !(
          e.ctrlKey && (
            (e.keyCode !== 'KeyA')
            || (e.keyCode !== 'KeyX')
          )
        )
      ) {
        e.preventDefault();
      }
    },
  },
};
</script>

<style scoped>
  input {
    transition: width 250ms;
    border: none;
    outline: none;
    height: auto;
    width: auto;
    min-width: 40px;

    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input:disabled {
    background: rgba(0,0,0,0);
    color: initial;
  }
  .copyInput {
    padding: 0 8px;
    position: fixed;
    left: -100vh;
    font-size: 24px;
    line-height: 32px;
  }
</style>
