<template>
  <div id="app">
    <sum-fraction />
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
<script>
import SumFraction from './components/SumFraction.vue';

export default {
  components: { SumFraction },
};
</script>
